lab2/wyniki_alg2_tabela.txt
lab1/__pycache__/lab1.cpython-312.pyc
wyniki_tabela.txt
lab2/wyniki_grupowane_ma.txt
lab2/wyniki_tabela_full.txt
lab2/__pycache__/lab3.cpython-312.pyc
lab2/__pycache__/lab2.cpython-312.pyc
lab2/plt_kroA100.png
lab2/plt_kroA100.png
lab2/plt_kroA200.png
lab2/plt_kroA100.png
lab2/plt_kroA200.png
lab2/plt_kroB100.png
lab2/plt_kroB200.png
lab2/results_kroA100
lab2/results_kroA200
lab2/results_kroB100
lab2/results_kroB200
lab2/plt_kroA100.png
lab2/plt_kroA100.png
lab2/plt_kroA100.png
lab2/plt_kroA200.png
lab2/plt_kroB100.png
lab2/plt_kroB200.png
lab3/plt_kroA200.png
lab3/plt_kroB200.png
lab3/results_kroA200
lab3/results_kroB200
lab3/__pycache__/lab3.cpython-312.pyc
lab3/plt_kroA200_10.png
lab3/plt_kroB200_10.png
lab3/results_kroA200_10.csv
lab3/results_kroA200.csv
lab3/results_kroB200_10.csv
lab3/results_kroB200.csv

