lab2/wyniki_alg2_tabela.txt
lab1/__pycache__/lab1.cpython-312.pyc
wyniki_tabela.txt
lab2/wyniki_grupowane_ma.txt
lab2/wyniki_tabela_full.txt
lab2/__pycache__/lab3.cpython-312.pyc
lab2/__pycache__/lab2.cpython-312.pyc
